<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <input type="text" [(ngModel)]="filteredStatus">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers|filter:filteredStatus:'status'"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name|shorten:'11' }}</strong> | {{ server.instanceType|uppercase }} | 
          {{ server.started|date:'fullDate'|uppercase }} <!--Parameters, order matters-->
        </li>
      </ul>
    </div>
  </div>
</div>
