<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        [routerLink]="['/servers',server.id]"

        [queryParams]="{allowEdit:server.id === 1 ? '1':'0'}"
        fragment="loading"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
      <!--->dynamic link</!--->
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
    <!---><button class="btn btn-primary" click=onReload()> Reload servers </button></!--->
    <!--->/servers hard fix on /servers, while servers (without the slash) create a /servers link on top of the actual direction</!--->
    <!---> ../ goes up one level and then loads (on this case, it would be /servers and just that)</!--->
    <!---><app-edit-server></app-edit-server></!--->
    <!---><hr></!--->
    <!---><app-server></app-server> si con el router voy al server no deberia necesitar esto</!--->
  </div>
</div>
